# Artificial Neural Networks

## Scikit-Learn

In [115]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [116]:
from sklearn.datasets import load_iris
iris = load_iris()
dataset = pd.DataFrame(iris.data, columns=iris.feature_names)

In [117]:
dataset[:9].style

In [130]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(dataset, iris.target, stratify=iris.target, random_state=42)

In [119]:
print(x_train.shape)
print(x_test.shape)

(112, 4)
(38, 4)

In [120]:
from sklearn.neural_network import MLPClassifier
ann = MLPClassifier(random_state=42, max_iter=1000)
ann.fit(x_train, y_train)

MLPClassifier(max_iter=1000, random_state=42)

In [121]:
print(ann.activation, ann.learning_rate, ann.hidden_layer_sizes)

relu constant (100,)

In [122]:
predicted = ann.predict(x_test)

In [123]:
from utility.utility import compare_class
compare_class(predicted, y_test)

-------------------------------------------------------
| pr\lb  |   2    |   1    |   0    | total  |  acc   |
-------------------------------------------------------
|   2    |   13   |   0    |   0    |   13   |  1.0   |
-------------------------------------------------------
|   1    |   0    |   13   |   0    |   13   |
----------------------------------------------
| total  |   13   |   13   |   38   |
-------------------------------------

## PyTorch

In [124]:
import torch
torch.manual_seed(42)
device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")

In [131]:
x_train = torch.from_numpy(x_train.to_numpy()).to(device)
x_test = torch.from_numpy(x_test.to_numpy()).to(device)
y_train = torch.from_numpy(y_train).to(device)
y_test = torch.from_numpy(y_test)

In [126]:
input_size = X.shape[1]
hidden_layer_size = 100
output_size = 4
model = torch.nn.Sequential(
    torch.nn.Linear(input_size, hidden_layer_size),
    torch.nn.ReLU(),
    torch.nn.Linear(hidden_layer_size, output_size)
)
model.double().to(device)

Sequential(
  (0): Linear(in_features=4, out_features=100, bias=True)
  (1): ReLU()
  (2): Linear(in_features=100, out_features=4, bias=True)
)

In [127]:
criterion = torch.nn.CrossEntropyLoss()
learning_rate = 1e-3
optimizer = torch.optim.Adam(model.parameters(), lr=learning_rate)

In [128]:
for i in range(1000):
    y_pred = model(X)
    loss = criterion(y_pred, Y)
    print("[EPOCH]: %i, [LOSS or MSE]: %.6f" % (i, loss.item()), end='\r')
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

In [133]:
predicted = model(x_test).cpu().max(1).indices
compare_class(predicted, y_test)

-------------------------------------------------------
| pr\lb  |   2    |   1    |   0    | total  |  acc   |
-------------------------------------------------------
|   2    |   13   |   0    |   0    |   13   |  1.0   |
-------------------------------------------------------
|   1    |   0    |   13   |   0    |   13   |
----------------------------------------------
| total  |   13   |   13   |   38   |
-------------------------------------