
## EXAMPLE OF DATA PRE-PROCESSING
The Diabetes Dataset involves predicting the onset of diabetes within 5 years

In [2]:
# We would need these libraries to manage our dataset
# Numpy: used for large, multi-dimensional arrays and matrices, and for high-level mathematical functions
# Pandas: used for data manipulation and analysis
import numpy as np
import pandas as pd

In [3]:
'''
This line will allow us to load the dataset
The dataset should be in a CSV format
A CSV file is a delimited text file that uses a comma to separate values. 
Each line of the file is a data record.
''' 
# header: indicates if the dataset has an initial line with the name of each column
dataset = pd.read_csv('pima-indians-diabetes.csv', header=None)

Attributes of the dataset: (all numeric-valued with no header)
   1. Number of times pregnant
   2. Plasma glucose concentration a 2 hours in an oral glucose tolerance test
   3. Diastolic blood pressure (mm Hg)
   4. Triceps skin fold thickness (mm)
   5. 2-Hour serum insulin (mu U/ml)
   6. Body mass index (weight in kg/(height in m)^2)
   7. Diabetes pedigree function
   8. Age (years)
   9. Class variable (0 or 1)
where class value 1 is interpreted as "tested positive for diabetes"

In [4]:
# Head visualise the five first rows of your dataset
dataset.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [5]:
'''
First, we will try to 'visualise' the dataset
'''
# describe shows us a nice summary of descriptive statistics for each of the columns
print(dataset.describe())

                0           1           2           3           4           5  \
count  768.000000  768.000000  768.000000  768.000000  768.000000  768.000000
mean     3.845052  120.894531   69.105469   20.536458   79.799479   31.992578
std      3.369578   31.972618   19.355807   15.952218  115.244002    7.884160
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      1.000000   99.000000   62.000000    0.000000    0.000000   27.300000
50%      3.000000  117.000000   72.000000   23.000000   30.500000   32.000000
75%      6.000000  140.250000   80.000000   32.000000  127.250000   36.600000
max     17.000000  199.000000  122.000000   99.000000  846.000000   67.100000

                6           7           8
count  768.000000  768.000000  768.000000
mean     0.471876   33.240885    0.348958
std      0.331329   11.760232    0.476951
min      0.078000   21.000000    0.000000
25%      0.243750   24.000000    0.000000
50%      0.372500   29.000000    0.000000
75%      0.626250   41.000000    1.000000
max      2.420000   81.000000    1.000000

Note that columns are shown from zero to N-1
* Count: gives us the number of rows in the dataset
* Mean: mean of all the values in each column
* std: standard deviation
* min, max: minimum and maximum values
* 25%, 50%, and 75%: the 25th, 50th, and 75th percentiles, which is the same than quantile 1, quantile 2, and quantile 3

In [7]:
'''
There are missing observations for some columns that are marked as a zero value.
Note that this does not include column 8, the class variable where zero indicates that the subject is not tested positive
Note that the minimum value in column 6 and 7 is different than zero, then there is no missing values in these columns
'''
# replace: allow us to replace a given value with another one
# In this case, we want to replace '0' values with 'nan'
# In Pandas missing data is represented by the None object and nan (not a number)
# Pandas treat None and NaN as essentially interchangeable for indicating missing or null values. 
dataset[[1,2,3,4,5]] = dataset[[1,2,3,4,5]].replace(0, np.nan)

In [8]:
'''
We are going to count the number of NAN values in each column
'''
# isnull returns all the nan instances 
# sum sums all the previous nan occurrences
print(dataset.isnull().sum())

0      0
1      5
2     35
3    227
4    374
5     11
6      0
7      0
8      0
dtype: int64

We can see here that the number of null instances varies significantly.
We are going to calculate the percentage of them to see the real inpact

The formula is:

$\Large\frac{NumberNullValues}{TotalNumberSamples}*100$

We need to calculate the total number of samples

In [9]:
# The index of the dataset give us the range of values
print(dataset.index)

RangeIndex(start=0, stop=768, step=1)

In [10]:
# The length of the index returns the total number of samples
print(len(dataset.index))

768

In [11]:
'''
Now we are going to calculate the percentage of values that are null for each column
The treatment of these null values may be different according to their quantity
'''
values = dataset.isnull().sum()/len(dataset.index)*100
print(values)

0     0.000000
1     0.651042
2     4.557292
3    29.557292
4    48.697917
5     1.432292
6     0.000000
7     0.000000
8     0.000000
dtype: float64

In [12]:
# We can also format the output to give us the %
# for that we need to iterate through the vector
for i in values:
 print("%.0f%%" % (i))

0%
1%
5%
30%
49%
1%
0%
0%
0%

### Remove rows with missing values
The simplest approach for dealing with missing values is to remove the entire sample that contain missing values.
Pandas provides the **dropna()** function that can be used to drop either columns or rows with missing data.

In [13]:
# We can show the dimensions of the dataset before the removal with the function shape
print(dataset.shape)

(768, 9)

In [14]:
'''
We can use it to remove all rows with missing data, as follows:
'''
# inplace=False returns a copy of the object with the operation performed. inplace=True returns None
dataset.dropna(inplace=True)

In [15]:
# summarize the shape of the data with missing rows removed
print(dataset.shape)

(392, 9)

We can see here that we get rid of the problem, but removing almost half of our dataset, worthy?

### Filled in missing values
There are many options we could consider when replacing a missing value, for example:
* A constant value that has meaning within the domain, such as 0, distinct from all other values. 
* A value from another randomly selected record. 
* A mean, median or mode value for the column. 
* A value estimated by another predictive model. 

Pandas provides the **fillna()** function for replacing missing values with a specific value.

In [16]:
'''
Again we load the dataset and mark missing values to have a fresh data
'''
# load again the dataset
dataset = pd.read_csv('pima-indians-diabetes.csv', header=None)
# mark zero values as missing or NaN
dataset[[1,2,3,4,5]] = dataset[[1,2,3,4,5]].replace(0, np.nan)

In [17]:
# count again the number of NaN values in each column
print(dataset.isnull().sum())

0      0
1      5
2     35
3    227
4    374
5     11
6      0
7      0
8      0
dtype: int64

In [18]:
# fill missing values with mean column values
dataset.fillna(dataset.mean(), inplace=True)

In [19]:
# count again the number of NaN values in each column
print(dataset.isnull().sum())

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
dtype: int64

### Normalisation of the data
We are going to use mix-max normalisation to scale the features of our dataset.
This method rescales the range of the data to [0,1]
The formula is the following:

$\Large x_n=\frac{x-min(x)}{max(x)-min(x)}$

In [20]:
# we use again describe to show the summary of descriptive statistics for each of the columns
print(dataset.describe())

                0           1           2           3           4           5  \
count  768.000000  768.000000  768.000000  768.000000  768.000000  768.000000
mean     3.845052  121.686763   72.405184   29.153420  155.548223   32.457464
std      3.369578   30.435949   12.096346    8.790942   85.021108    6.875151
min      0.000000   44.000000   24.000000    7.000000   14.000000   18.200000
25%      1.000000   99.750000   64.000000   25.000000  121.500000   27.500000
50%      3.000000  117.000000   72.202592   29.153420  155.548223   32.400000
75%      6.000000  140.250000   80.000000   32.000000  155.548223   36.600000
max     17.000000  199.000000  122.000000   99.000000  846.000000   67.100000

                6           7           8
count  768.000000  768.000000  768.000000
mean     0.471876   33.240885    0.348958
std      0.331329   11.760232    0.476951
min      0.078000   21.000000    0.000000
25%      0.243750   24.000000    0.000000
50%      0.372500   29.000000    0.000000
75%      0.626250   41.000000    1.000000
max      2.420000   81.000000    1.000000

In [21]:
# We see that we need to calculate the maximum and minimum values for each attibute
# This is done with functions min() and max()
column_max = dataset.max()
column_min = dataset.min()
print(column_max)
print(column_min)

0     17.00
1    199.00
2    122.00
3     99.00
4    846.00
5     67.10
6      2.42
7     81.00
8      1.00
dtype: float64
0     0.000
1    44.000
2    24.000
3     7.000
4    14.000
5    18.200
6     0.078
7    21.000
8     0.000
dtype: float64

In [22]:
# and now we calculate the formula
dataset_norm = (dataset - column_min) / (column_max - column_min)

In [23]:
# we use again describe to show the summary of descriptive statistics for each of the columns
print(dataset_norm.describe())

                0           1           2           3           4           5  \
count  768.000000  768.000000  768.000000  768.000000  768.000000  768.000000
mean     0.226180    0.501205    0.493930    0.240798    0.170130    0.291564
std      0.198210    0.196361    0.123432    0.095554    0.102189    0.140596
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.058824    0.359677    0.408163    0.195652    0.129207    0.190184
50%      0.176471    0.470968    0.491863    0.240798    0.170130    0.290389
75%      0.352941    0.620968    0.571429    0.271739    0.170130    0.376278
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

                6           7           8
count  768.000000  768.000000  768.000000
mean     0.168179    0.204015    0.348958
std      0.141473    0.196004    0.476951
min      0.000000    0.000000    0.000000
25%      0.070773    0.050000    0.000000
50%      0.125747    0.133333    0.000000
75%      0.234095    0.333333    1.000000
max      1.000000    1.000000    1.000000